[user]
	name = Ashu Pednekar
	email = ashupednekar49@gmail.com
  signingkey = ~/.ssh/ashupednekar

[commit]
  gpgsign = true

[gpg]
  format = ssh

[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[credential]
	helper = store
